#!/bin/bash

read -a vals <<<"[% dx %] [% dx %] [% dx %]"

awk '(NF==3)&&($1~/[0-9]+\.[0-9]+/)&&($2~/[0-9]+\.[0-9]+/)&&($3~/[0-9]+\.[0-9]+/){
        rep = sprintf("%10.5f%10.5f%10.5f", '${vals[0]}', '${vals[1]}', '${vals[2]}');
        print rep;
        next;
     }
     {
        print $0;
     }' confin.gro >confin-box.gro

# vim: tabstop=4:softtabstop=4:shiftwidth=4:expandtab:smarttab
