parameters   ./output.prm

openmp-threads		56

alpha			90.0
beta			90.0
gamma			90.0
a-axis                  [% dx * 10.0 %]
b-axis                  [% dx * 10.0 %]
c-axis                  [% dx * 10.0 %]

ewald
vdw-cutoff		15.0

