
tolerance 2.0
output [% GET pdbout %]
filetype pdb
structure [% GET pdba %]
  resnumbers 3
  number [% GET na %]
  inside cube 0. 0. 0. [% GET dx %]
end structure
structure [% GET pdbb %]
  resnumbers 3
  number [% GET nb %]
  inside cube 0. 0. 0. [% GET dx %]
end structure
